// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-gray-light-1: #f9f7f6;
$color-gray-light-2: #aaa;

$color-gray-dark-1: #54483A;
$color-gray-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-xl: 75em; // 1200px / 16 = 75em
$bp-l: 62.5em; // 1000px / 16 = 62.5em
$bp-m: 50em; // 800px / 16 = 50em
$bp-s: 37.5em; // 600px / 16 = 37.5em


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1 rem = 10px !> 10 / 16 > 62.5%

  @media only screen and (max-width: $bp-xl) {
    font-size: 50%;
  }

}

body {
  font-family: $font-primary;
  color: $color-gray-dark-2;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

  @media only screen and (max-width: $bp-l) {
    grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  }

  @media only screen and (max-width: $bp-m) {
    grid-template-rows: 6rem calc(100vh - 6rem);
  }

}